.LandingPage {
  text-align: center;
  padding: 15vh 0;
  background-size: 100% 175%;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  position: relative;
}

.LandingPage-title {
  font-family: minerva-modern;
  font-size: 3em;
  color: #ddd;
  animation: appear 0.5s linear 0s normal 1 none running;

  border-bottom: 1px solid;
  width: 50%;
  margin: 0 auto 30px;
}

.LandingPage-tagline {
  font-family: minion-pro-display;
  font-style: italic;
  animation: appear 2s linear 0s normal 1 none running;
  color: #888;
}

.LandingPage-tagline--spotlight {
  color: #42f4bc;
  font-style: normal;
  margin-left: 1px;
}

.LandingPage-callToAction {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
}

.LandingPage-callToAction-button {
  border-radius: 3px;
  border: 1px solid #42f4bc;
  height: 20px;
  display: inline-block;
  padding: 7px;
  cursor: pointer;
}

.LandingPage-callToAction-button:hover {
  border: none;
  background: #e6ac00;
  color: #888;
}

@keyframes appear {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@media (max-height: 700px) {
  .LandingPage {
    height: initial;
  }
  .LandingPage-callToAction {
    position: static;
  }
}
