#day-1 {
  color: white;
  padding-top: 25vh;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f2952b;
}

.card-flow {
  position: relative;
  height: 100%;
}

.angle-double-down {
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 30%;
}

.angle-double-down:hover {
  color: #f9e9d6;
}

.angle-double-down-marker {
  cursor: default;
  opacity: .4;
  margin-left: 80%;
}
