body {
  background-color: #f2952b;
}

#day-1 {
  color: white;
  margin-top: 25vh;
}

.down-arrow {
  margin-top: 20vh;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
}

.down-arrow:hover {
  color: #f9e9d6;
}

